:root {
    --primary-color: #ff6347; /* Tomate */
    --secondary-color: #4caf50; /* Verde */
    --accent-color: #ffeb3b; /* Amarelo */
    --background-color: #f0f0f0; /* Cinza claro */
    --font-family: 'Arial, sans-serif';
}

body {
    font-family: var(--font-family);
    font-family: Arial, sans-serif;
    color: #333;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
}

/* Estilo para cada item */
nav li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Borda arredondada */
    background-color: rgba(1, 10, 0, 0.829);
}

/* Estilo ds ícones */
nav i {
    margin-right: 5px;
}


header .logo {
    max-width: 250px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}


/* Seções */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;    
}

section h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

section p, section ul {
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: var(--primary-color);
}

form button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #388e3c;
}


ul {
    padding-left: 20px;
}

/* Estilos específicos para a lista de produtos */
.linha-produtos {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.linha-produtos h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.linha-produtos li {
    font-size: 18px;
    margin-bottom: 5px;
}


